:root {
  --core-color-black: #000000;
  --core-color-graya: #aaaaaa;
  --core-color-grayd: #dddddd;
  --core-color-white: #ffffff;
  --core-color-shiki-light: #b392f0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--core-color-white);
  background-color: var(--core-color-black);
}

.print-only {
  display: none;

  @media print {
    display: block;
  }
}
